#dragEditorWrapper {
    width: 80%;
    float: left;
}

.overlay {
    background-color: #d9e7f8;
    opacity: 0.2;
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0px;
    z-index: 10;
}

#editorOverlay {
}

.draggablenode {
    cursor: pointer;
}
/**Fix Bug**/
#k-table-properties {
    overflow: auto;
}
